*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color:pink;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    outline: 1px solid red;
}
.flex-item{
    width: 500px;
    height: 500px;
    background-color: blue;
}